[Unit]
Description=PyQt5 Application
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=mst
Group=mst
EnvironmentFile=/home/mst/mst_app/setup/services/mst.env
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /home/mst/mst_app/app.py
WorkingDirectory=/home/mst/mst_app

[Install]
WantedBy=multi-user.target

