[Desktop Entry]
Name=MST App
Exec=lxterminal -e python3 "/home/mst/mst_app/app.py"
Icon=/home/mst/mst_app/mst_logo.png
Type=Application
Terminal=false